body {
  margin: 0;
  padding: 0px 120px 120px;
}

:root {
  --secondary-color: #00ffff;
}

:root {
  --principal-color: #fdc435;
}

.nameLinkInfo {
  text-decoration: none;
  color: black;
}

.generalContainerInfo {
  display: flex;
}

.rightSideInfo {
  position: absolute;
  height: 97%;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.infoSvgBackground {
  position: relative;
  background-color: var(--principal-color);
  height: 98%;
  transition-duration: 2s;
}

.infoSvgBackground:hover {
  background-color: var( --secondary-color);
}

.subtitleProfession {
  margin-top: 50px;
  color:#fdc435;
}

.titleInfoCustomer {
  font-size: 60px;
  color: rgb(43, 42, 42);
}

.textInfoContact {
  color: grey;
  font-family: "Orbitron", sans-serif;
  font-size: 19px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.projectsButton {
  border-radius: 5px;
  border-style: none;
  background-color: var(--principal-color);
  height: 30px;
  width: 80px;
  margin-right: 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.projectsButton:hover {
  background-color: white;
  border-style: solid;
}

.socialMediaButton {
  border-radius: 5px;
  border-color: black;
  background-color: white;
  height: 30px;
  width: 80px;
  transition-duration: 1s;
  cursor: pointer;
}

.socialMediaButton:hover {
  background-color: var(--principal-color);
  border-style: none;
}

.woman-img {
  position: absolute;
  top: 0%;
  left: 30%;
  width: 70%;
  height: 90%;
  z-index: 1;
}

.woman-svg {
  position: relative;
  z-index:2;
}

@media (max-width: 554px){
  .infoSvgBackground {
    height: 95%;
    svg {
      width: 564px;
      height: 600px;
    }
    img {
      height: 100%;
    }
  }
  body {
    padding: 0 0 70px;
  }
  .generalContainerInfo {
    align-items: center;
    text-align: center;
  }
}

.bottomPartForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  h1 {
    text-align: center;
  }
  p {
    font-size: 12px;
  }
}

.test {
  display: flex;
  flex-direction: column;
  input {
    width: 300px;
  }
}

.biggerInputForm {
  height: 70px;
  width: 300px;
}

.buttonForForms {
  border-radius: 5px;
  border-style: none;
  background-color: var(--principal-color);
  height: 30px;
  width: 80px;
  transition-duration: 1s;
  cursor: pointer;
  transition-duration: 2s;
  margin-top: 20px;
}

.buttonForForms:hover {
  background-color: white;
  border-style: solid;
  border-color: black;
}

@media (max-width: 340px) {
  .bottomPartForms {
    input {
      width: 100%;
    }
  }
}

.socialMediaButtons {
  display: flex;
}

@media (max-width: 1104px) {
  .leftSideInfo {
      margin-top: 550px;
  }
  .bottomPartForms {
    margin-top: 50px;
  }
}