* {
  box-sizing: border-box ;
}

body {
  margin: 0;
  padding: var(--body-padding);
}

:root {
  --secondary-color: #00ffff;
  --principal-color: #fdc435;
  --body-padding: 0px 120px 120px;
}

.nameLinkInfo {
  text-decoration: none;
  color: black;
}

.generalContainerInfo {
  display: flex;
}

.rightSideInfo {
  /* display: none; */
  position: absolute;
  height: 700px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.infoSvgBackground {
  position: relative;
  background-color: var(--principal-color);
  height: 97%;
  transition-duration: 2s;
}

.infoSvgBackground:hover {
  background-color: var( --secondary-color);
}

.subtitleProfession {
  margin-top: 50px;
  color:#fdc435;
}

.titleInfoCustomer {
  font-size: 60px;
  color: rgb(43, 42, 42);
}

.textInfoContact {
  color: grey;
  font-family: "Orbitron", sans-serif;
  font-size: 19px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.projectsButton {
  border-radius: 5px;
  border-style: none;
  background-color: var(--principal-color);
  height: 30px;
  width: 80px;
  margin-right: 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.projectsButton:hover {
  background-color: white;
  border-style: solid;
}

.socialMediaButton {
  border-radius: 5px;
  border-color: black;
  background-color: white;
  height: 30px;
  width: 80px;
  transition-duration: 1s;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
  }
}

.socialMediaButton:hover {
  background-color: var(--principal-color);
  border-style: none;
}

.woman-img {
  position: absolute;
  top: 0%;
  left: 30%;
  width: 70%;
  height: 90%;
  z-index: 1;
}

.woman-svg {
  position: relative;
  z-index:2;
}

