:root {
  --principal-color: #fdc435;
  --secondary-color: #00ffff;
  --body-padding: 0px 120px 120px;
  --projects-text-style: 3px solid var(--principal-color);
}

.infoSvgBackground:hover {
  background-color: var( --secondary-color);
}

.projectsButton:hover {
  background-color: white;
  border-style: solid;
}

.socialMediaButton:hover {
  background-color: var(--principal-color);
  border-style: none;
}

.buttonForForms:hover {
  background-color: white;
  border-style: solid;
  border-color: black;
}

.card:nth-Child(even){
  display: flex; flex-direction: row-reverse;
  img {
    border-radius: 25px 0 0 25px;
  }
}